.header ul.header.text {
    list-style: none;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black; /* Background color */
    color: white;
    padding: 8px;

}

.header ul.header.text li {
    flex: 1;
    text-align: center;
}

.header ul.header.text a {
    text-decoration: none; /* Remove underlines for links */
    color: rgb(255, 255, 255); /* Text color */
}

.btn-blue{
    text-decoration: none;
    font-size: 20px;
    color: rgb(212, 206, 206);
    background-color: #367E18;
    padding: 15px;
    border-radius: 50px;
    margin: 70px;
    text-align: center;
}
    

.header ul.header.text a:hover {
    opacity: 50%;
    background-color: #000000;
    color: #FFE9A0;
 }
 
 .btn-red{
    text-decoration: none;
    font-size: 20px;
    color: rgb(212, 206, 206);
    background-color: #CC3630;
    padding: 15px;
    border-radius: 30px;
    margin: 70px;}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 2px;
}

